$color-blue-100: #172554;
$color-blue-90: #1e3a8a;
$color-blue-80: #1e40af;
$color-blue-70: #1d4ed8;
$color-blue-60: #2563eb;
$color-blue-50: #3b82f6;
$color-blue-40: #60a5fa;
$color-blue-30: #93c5fd;
$color-blue-20: #bfdbfe;
$color-blue-10: #dbeafe;
$color-blue-5: #eff6ff;
$color-gray-100: #0a0a0a;
$color-gray-90: #171717;
$color-gray-80: #262626;
$color-gray-70: #404040;
$color-gray-60: #525252;
$color-gray-50: #737373;
$color-gray-40: #a3a3a3;
$color-gray-30: #d4d4d4;
$color-gray-20: #e5e5e5;
$color-gray-10: #f5f5f5;
$color-gray-5: #fafafa;
$font-family: "Roboto", sans-serif;
$font-family-script: "Roboto Serif", serif;
$font-size: 16px;
$font-weight: 400;
$line-height: 1.5;
$color-text: $color-gray-90;
$color-bg: $color-gray-5;
$body-font-family: $font-family;
$body-font-heading: $font-family-script;
$body-font-size: $font-size;
$body-font-weight: $font-weight;
$body-line-height: $line-height;
$body-color: $color-text;
$body-bg: $color-bg;
$heading-size-1: 40 / $font-size;
$heading-size-2: 2.5rem;
$heading-size-3: 2.25rem;
$heading-size-4: 1.875rem;
$heading-weight: 700;
$heading-line-hegiht: 1.2;
$link-color: $color-blue-70;
$link-hover-color: $color-blue-80;
$border-radius: 0.25rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.3rem;
$border-radius-2xl: 50rem;
