@import "./btn.css";
@import "./icon.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto+Slab:wght@700&display=swap");

:root {
  --color-primary: #0d354f;
  --color-ligh-primary: #1f5a81;
  --color-dark-primary: #08293f;
  --color-dark-very-primary: #061d2c;
  --color-secondary: #e31b28;

  --color-white: #fff;

  --color-light-gray: #b3bac5;
  --color-gray: #506690;

  --body-font-family: "Inter", sans-serif;
  --body-font-family-slab: "Roboto Slab", serif;
  --body-font-size: 16px;
  --body-font-weight: 400;
  --body-font-height: 1.6;
  --body-color: #161c2d;

  --body-bg: var(--color-white);
  --border-radius: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: var(--body-font-size);
  --border-radius-2xl: 0.125rem;

  --link-color: ;
  --link-hover-color: ;

  --font-size-h1: 2.375rem;
  --line-height-heading: 1.2;
  --font-size-h2: 2rem;
  --font-size-h3: 1.375rem;
  --font-size-h4: 1.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
}

h1,
h2,
h3,
h4 {
  font-family: var(--body-font-family-slab);
  line-height: var(--line-height-heading);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  font-family: var(--body-font-family-slab);
}

h3 {
  font-size: var(--font-size-h3);
}

.h4 {
  font-size: var(--font-size-h4);
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

ul {
  list-style: none;
}

button {
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: none;
  background-color: transparent;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

[role="button"] {
  cursor: pointer;
}

img {
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  margin: 2rem 0;
  padding: 1rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.text-primary {
  color: var(--color-primary);
}

.text-muted {
  color: #869ab8;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  padding: 1rem;
}

.card-outline {
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius-sm);
}

.card-outline:hover {
  border-color: var(--color-primary);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
}

.card-icon {
  margin-bottom: 1.5rem;
}

.card-image {
  display: block;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.card:hover .card-image img {
  transform: scale(1.2);
}

.card-title {
  margin-bottom: 1rem;
}

.card-title-light {
  font-weight: 400;
}

/* topbar */
.topbar {
  border-bottom: 1px solid var(--color-light-gray);
  margin-bottom: 1rem;
}
.topbar-wrapper {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.topbar-contact,
.topbar-social {
  display: flex;
  gap: 1rem;
}

/* header */
.header {
  position: relative;
  padding-block: 0.5rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav-logo {
  width: 100px;
}

.nav-menu {
  display: none;
}

.nav-open,
.nav-close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

/* hero */
.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.hero-title {
  letter-spacing: -0.02rem;
}

.hero-buttons a {
  width: 100%;
  margin-bottom: 0.5rem;
}

/* banner */
.banner {
  padding-block: 2.5rem;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--color-primary);
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.banner-item {
  display: flex;
  align-items: center;

  gap: 2rem;
}

.banner-item span {
  text-align: left;
}

.banner-item svg {
  width: 50px;
  height: 50px;
  fill: var(--color-primary);
}

/* blog */
.blog-card {
  width: 100%;
}

.blog-post-image {
  overflow: hidden;
  position: relative;
}

.blog-post-image img {
  width: 100%;
  transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18),
    -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
}

.blog-post-content {
  padding-top: 1rem;
}

.blog-post-date {
  font-size: 14px;
  color: var(--color-gray);
}

.blog-post-title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 24px;
}

/* banner */
.banner-wrapper {
  width: 100%;
}

.banner-item {
  text-align: center;
}

.banner-image {
  margin-bottom: 16px;
}

.banner-image::before {
  content: url(../media/info_hover.png);
  position: absolute;
  transition: 0.3s all;
  top: -12px;
  opacity: 0;
  transform: scale(0.5);
}

.banner-image img {
  transition: 0.3s all;
}

.banner-title {
  margin-bottom: 16px;
}

@media screen and (max-width: 757px) {
  .nav-menu.active {
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-close {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    font-size: 2rem;
  }
  .nav-items {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.5rem;
  }

  .nav-items a {
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .section-title {
    text-align: left;
  }

  .hero-wrapper {
    text-align: left;
  }

  .hero-buttons a {
    width: auto;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
