@media screen and (max-width: 992px) {
}

@media screen and (min-width: 576px) {
  .banner-item {
    width: calc(50% - 2rem);
  }

  .cards-wrap-4 .card {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
  }

  .hero-image {
    width: 60%;
  }

  .hero-content {
    width: 40%;
  }

  .cards-wrap-3 .card {
    width: calc(50% - 2rem);
  }

  .cards-wrap-4 .card {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 992px) {
  .lg-text-align-left {
    text-align: left;
  }

  .banner-wrapper {
    justify-content: space-between;
  }

  .banner-item {
    width: calc(25% - 2rem);
  }

  .cards-wrap-3 .card {
    width: calc(33.33% - 2rem);
  }

  .cards-wrap-4 .card {
    width: calc(25% - 1rem);
  }
}
